@model ZaibBook.Models.ViewModel.CategoryVM


<form method="post" asp-action="CreateUpdate">
    <div class="border p-3 m-4">
        <div class="row pb-2">
            <h2 class="text-primary">@((Model.Category == null || Model.Category.ID == Guid.Empty) ? "Create" : "Update") Category</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" class="form-control" type="text" />
            <span asp-validation-for="Category.Name" class="text-bg-danger"></span>
        </div>
                <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" type="text" />
            <span asp-validation-for="Category.DisplayOrder" class="text-bg-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">@((Model.Category == null || Model.Category.ID == Guid.Empty) ? "Create" : "Update")</button>
        <a asp-controller="Category" asp-action="Index"  style="width:150px" class="btn btn-secondary" >Back to List</a>
    </div>
</form>

@*Use for Client side validation*@
@section Scripts{
@{
        <partial name="_ValidationScriptsPartial" />
}
}

